In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("electricity_cost_dataset.csv")
df.head()

,site area,structure type,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count,electricity cost
0,1360,Mixed-use,2519.0,69,52,188,1,72,1420.0
1,4272,Mixed-use,2324.0,50,76,165,65,261,3298.0
2,3592,Mixed-use,2701.0,20,94,198,39,117,3115.0
3,966,Residential,1000.0,13,60,74,3,35,1575.0
4,4926,Residential,5990.0,23,65,32,57,185,4301.0

In [3]:
df['electricity cost per resident'] = df['electricity cost'] / df['resident count']
df['electricity cost per resident'] = np.round(df['electricity cost per resident'], 3)

In [4]:
df['water_consumption_per_resident'] = df['water consumption'] / df['resident count']
df['water_consumption_per_resident'] = np.round(df['water_consumption_per_resident'], 3)

In [5]:
df['recycling_efficency_rate'] = df['recycling rate'] * df['utilisation rate']
df['recycling_efficency_rate'] = np.round(df['recycling_efficency_rate'], 3)

In [6]:
df['resource_intensity'] = (df['water consumption'] + df['electricity cost']) / df['resident count']
df['resource_intensity'] = np.round(df['resource_intensity'], 3)

In [7]:
df['resolution_efficiency'] = df['issue reolution time'] / df['resident count']
df['resolution_efficiency'] = np.round(df['resolution_efficiency'], 3)

In [8]:
df['air_quality_impact'] = df['air qality index'] * df['resident count']
df['air_quality_impact'] = np.round(df['air_quality_impact'], 3)

In [9]:
df['resource_intensity'] = (df['water consumption'] + df['electricity cost']) / df['site area']
df['resource_intensity'] = np.round(df['resource_intensity'], 3)

In [10]:
df['energy_efficiency'] = df['electricity cost'] / (df['site area'] * df['utilisation rate'])
df['energy_efficiency'] = np.round(df['energy_efficiency'], 3)

In [11]:
df['water_electricity_ratio'] = df['water consumption'] / df['electricity cost']
df['water_electricity_ratio'] = np.round(df['water_electricity_ratio'], 3)

In [12]:
df['population_density'] = df['resident count'] / df['site area']
df['population_density'] = np.round(df['population_density'], 3)

In [13]:
df['issue_per_utility'] = df['issue reolution time'] / (df['water consumption'] + df['electricity cost'])
df['issue_per_utility'] = np.round(df['issue_per_utility'], 3)

In [14]:
df['sustainability_score'] = (df['recycling rate'] + df['utilisation rate']) / df['air qality index']
df['sustainability_score'] = np.round(df['sustainability_score'], 3)

In [15]:
df = pd.get_dummies(df, columns=['structure type'])

In [16]:
df = df.astype({col: 'int' for col in df.select_dtypes('bool').columns})

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   site area                       10000 non-null  int64
 1   water consumption               10000 non-null  float64
 2   recycling rate                  10000 non-null  int64
 3   utilisation rate                10000 non-null  int64
 4   air qality index                10000 non-null  int64
 5   issue reolution time            10000 non-null  int64
 6   resident count                  10000 non-null  int64
 7   electricity cost                10000 non-null  float64
 8   electricity cost per resident   10000 non-null  float64
 9   water_consumption_per_resident  10000 non-null  float64
 10  recycling_efficency_rate        10000 non-null  int64
 11  resource_intensity              10000 non-null  float64
 12  resolution_efficiency           10000 non-null  float64
 13  air_quality_impact              10000 non-null  int64
 14  energy_efficiency               10000 non-null  float64
 15  water_electricity_ratio         10000 non-null  float64
 16  population_density              10000 non-null  float64
 17  issue_per_utility               10000 non-null  float64
 18  sustainability_score            10000 non-null  float64
 19  structure type_Commercial       10000 non-null  int64
 20  structure type_Industrial       10000 non-null  int64
 21  structure type_Mixed-use        10000 non-null  int64
 22  structure type_Residential      10000 non-null  int64
dtypes: float64(11), int64(12)
memory usage: 1.8 MB

In [18]:
df.describe()

/opt/anaconda3/lib/python3.12/site-packages/numpy/lib/function_base.py:4655: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/opt/anaconda3/lib/python3.12/site-packages/numpy/lib/function_base.py:4655: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/opt/anaconda3/lib/python3.12/site-packages/numpy/lib/function_base.py:4655: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,site area,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count,electricity cost,electricity cost per resident,water_consumption_per_resident,...,air_quality_impact,energy_efficiency,water_electricity_ratio,population_density,issue_per_utility,sustainability_score,structure type_Commercial,structure type_Industrial,structure type_Mixed-use,structure type_Residential
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2757.775100,3494.057100,49.598000,64.842200,99.468600,36.402600,85.573100,2837.845000,inf,inf,...,8597.740200,0.019108,1.213825,0.031323,0.007316,inf,0.300500,0.100400,0.205200,0.393900
std,1293.059959,2076.181117,23.430141,20.432965,58.014526,20.623905,107.876179,1106.997441,NaN,NaN,...,13351.872498,0.007686,0.501006,0.033208,0.006078,NaN,0.458498,0.300548,0.403868,0.488638
min,501.000000,1000.000000,10.000000,30.000000,0.000000,1.000000,0.000000,500.000000,5.54200,3.63600,...,0.000000,0.007000,0.237000,0.000000,0.000000,0.2250,0.000000,0.000000,0.000000,0.000000
25%,1624.000000,1779.000000,29.750000,47.000000,49.000000,19.000000,0.000000,1954.000000,18.70675,21.85025,...,0.000000,0.013000,0.815000,0.000000,0.003000,0.7520,0.000000,0.000000,0.000000,0.000000
50%,2773.500000,3047.500000,49.000000,65.000000,100.000000,36.000000,39.000000,2760.000000,48.60850,61.28500,...,2102.000000,0.017000,1.150000,0.021000,0.006000,1.1445,0.000000,0.000000,0.000000,0.000000
75%,3874.000000,4811.000000,70.000000,83.000000,150.000000,54.000000,142.000000,3632.000000,NaN,NaN,...,12099.250000,0.023000,1.542000,0.060000,0.010000,2.3330,1.000000,0.000000,0.000000,1.000000
max,5000.000000,10894.000000,90.000000,100.000000,200.000000,72.000000,489.000000,6446.000000,inf,inf,...,85885.000000,0.073000,3.820000,0.100000,0.044000,inf,1.000000,1.000000,1.000000,1.000000

In [19]:
df.head()

,site area,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count,electricity cost,electricity cost per resident,water_consumption_per_resident,...,air_quality_impact,energy_efficiency,water_electricity_ratio,population_density,issue_per_utility,sustainability_score,structure type_Commercial,structure type_Industrial,structure type_Mixed-use,structure type_Residential
0,1360,2519.0,69,52,188,1,72,1420.0,19.722,34.986,...,13536,0.020,1.774,0.053,0.000,0.644,0,0,1,0
1,4272,2324.0,50,76,165,65,261,3298.0,12.636,8.904,...,43065,0.010,0.705,0.061,0.012,0.764,0,0,1,0
2,3592,2701.0,20,94,198,39,117,3115.0,26.624,23.085,...,23166,0.009,0.867,0.033,0.007,0.576,0,0,1,0
3,966,1000.0,13,60,74,3,35,1575.0,45.000,28.571,...,2590,0.027,0.635,0.036,0.001,0.986,0,0,0,1
4,4926,5990.0,23,65,32,57,185,4301.0,23.249,32.378,...,5920,0.013,1.393,0.038,0.006,2.750,0,0,0,1

In [20]:
df.isna().sum()

site area                         0
water consumption                 0
recycling rate                    0
utilisation rate                  0
air qality index                  0
issue reolution time              0
resident count                    0
electricity cost                  0
electricity cost per resident     0
water_consumption_per_resident    0
recycling_efficency_rate          0
resource_intensity                0
resolution_efficiency             0
air_quality_impact                0
energy_efficiency                 0
water_electricity_ratio           0
population_density                0
issue_per_utility                 0
sustainability_score              0
structure type_Commercial         0
structure type_Industrial         0
structure type_Mixed-use          0
structure type_Residential        0
dtype: int64

In [24]:
for col in df.columns:
    col_data = df[col]
    if np.issubdtype(col_data.dtype, np.number):
        # Replace +inf with max finite value
        if np.isposinf(col_data).any():
            finite_max = col_data[np.isfinite(col_data)].max()
            df[col].replace(np.inf, finite_max, inplace=True)
        # Replace -inf with min finite value
        if np.isneginf(col_data).any():
            finite_min = col_data[np.isfinite(col_data)].min()
            df[col].replace(-np.inf, finite_min, inplace=True)

In [ ]:
df.dropna(inplace=True)

In [21]:
df.to_csv("Electricity Dataset.csv", index=False)